<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
  <Appenders>
    <RollingFile
  name="roll-by-size"
  filePattern="/Users/sik/Java/logs/markiv/app.%i.log.gz"
  ignoreExceptions="false">
    <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB" />
    </Policies>
    <DirectWriteRolloverStrategy maxFiles="10"/>
</RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="roll-by-size"/>
    </Root>
  </Loggers>
</Configuration>

